.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 1em;
    text-align: center;
}

.hit {
    background-color: red !important;
}

.miss {
    background-color: blue !important;
}
.ship{
    background-color: green !important;
}
.hitself{
    background-color: rgb(133, 2, 2) !important;
}
.missself {
    background-color:  rgb(29, 29, 112) !important;
}
.disabled-grid {
    pointer-events: none; 
    opacity: 0.6;
}