.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: blue;
    padding: 1em;
    text-align: center;
}

.hit {
    background-color: red !important;
}

.miss {
    background-color: blue !important;
}